{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>TestTask</title>  
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button id="language-button" class="language-button">Оберіть мову</button>
    <ul id="language-menu" class="language-menu">
        {% for language in languages %}
            <li>
                <a href="{% url 'menu:switch_language' language.0 %}">{{ language.1 }}</a>
            </li>
        {% endfor %}
    </ul>

    <script>
        const button = document.getElementById('language-button');
        const menu = document.getElementById('language-menu');
        button.addEventListener('click', function() {
            menu.classList.toggle('open');
        });
    </script>

</body>
</html>
